body{
    align-items: center;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    background: #e9e9eb;
}

div{
    align-items: center;
}

h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(44, 136, 249);
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5{
    font-family:'Times New Roman', Times, serif
}

div{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px 0;
}


