body {
    font-family:monospace;
    text-align: center;
    background:url(../assets/img/mariobackground.jpg);
    background-size: cover;
    font-size: x-large;
    color: rgb(0, 74, 165);
}

#board {
    width: 540px;
    height: 540px;
    /* background-color: green; */

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("../assets/img/");
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    /* board = 540 x 540, divide into 3x3 tiles --> 180 x 180 per div */
    width: 180px; 
    height: 180px;
    background-image: url("../assets/img/pipe.png");
    background-size: cover;
}

#board div img {
    /* all img tags inside tiles */
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    
}


nav ul li {
    display: inline;
    font-family: 'Source Code Pro';

    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: 500;
}
   
   



